@import "../../style/color.scss";

.container {
  display: flex;
  justify-content: space-between;

  .card {
    cursor: pointer;
    flex: 0 1 calc(20% - 20px);
    height: 100px;
    padding: 20px;
    border: 1px solid $secondary-color;
    margin: 10px;
    box-shadow: 0 5px 8px $soft-color;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }

  .card h3 {
    font-size: 1.5rem;
    color: $secondary-color;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center; 
  }

  .card p {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center; 
  }
}
