@import "../../../../style/color.scss";

.company-panel-jobs {
  padding: 20px;

  h1 {
    color: $primary-color;
    font-size: 24px;
    margin: 20px;
    display: inline-block; 
  }

  .add-job-button-container {
    float: right;
    margin: 20px; 
  }

  .table-container {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }

  .table-header {
    background-color: $secondary-color;
  }

  .table-header-cell {
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 12px 16px;
    text-align: left;
  }

  .table-row {
    &:nth-child(even) {
      background-color: #f7f7f7;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }

}
