@import "../../style/color.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .card {
    flex: 0 1 calc(16.6667% - 20px);
    padding: 10px;
    border: 1px solid $secondary-color;
    margin: 5px;
    box-shadow: 0 5px 8px $soft-color;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

    h3 {
      font-size: 1.5rem;
      color: $secondary-color;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: center;
    }

    p {
      font-size: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
  }

  @media (max-width: 1200px) {
    .card {
      flex: 0 1 calc(25% - 20px);
    }
  }

  @media (max-width: 768px) {
    .card {
      flex: 0 1 calc(100% - 20px);
    }
  }
}
