.content {
  padding: 20px;
  .widget {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 20px;

    &:hover {
      transform: translateY(-5px);
    }

    &.widget-1 {
      background-color: #ff7961;
      color: white;
    }

    &.widget-2 {
      background-color: #4caf50;
      color: white;
    }

    &.widget-3 {
      background-color: #2196f3;
      color: white;
    }

    &.widget-4 {
      background-color: #f44336;
      color: white;
    }
  }

  .chart-container {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }

  .chart-shadow {
    transition: transform 0.5s ease;

    &:hover {
      transform: translateY(-5px);
    }
  }
}
