.hero {
  height: calc(100vh - 30vh);
  overflow: hidden;
  background: linear-gradient(180deg, #0c356a, #0174be);
  position: relative;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;

    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      h2 {
        font-size: 30px;
        color: #0174be;
        letter-spacing: 10px;
      }

      h1 {
        font-size: 88px;
        color: #ffc436;
      }

      img {
        width: 50px;
      }
    }
  }

  .imageContainer {
    height: 100%;
    position: absolute;
    top: 60px;
    right: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 60vh;
    bottom: -60px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
    user-select: none;
  }
}
@media (max-width: 768px) {
  .hero {
    height: 80vh;
    overflow: hidden;
    background: linear-gradient(180deg, #0c356a, #0174be);
    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      .textContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        
        h2 {
          font-size: 30px;
          color: #0174be;
          letter-spacing: 10px;
        }
  
        h1 {
          font-size: 88px;
          color: #ffc436;
          margin-bottom: 15rem;
        }
  
        img {
          width: 50px;
        }
      }
    }
    position: relative;
    .imageContainer {
      height: 50vh;
      position: absolute;
      top: 40vh;
      left: 0;
      right: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @media (max-width: 768px) {
    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 0px;

      h2 {
        font-size: 30px;
        color: #0174be;
        letter-spacing: 10px;
        text-align: center;
      }

      h1 {
        font-size: 88px;
        text-align: center;
        color: #ffc436;
      }
    }
    .hero {
      height: 80vh;
      overflow: hidden;
      background: linear-gradient(180deg, #0c356a, #0174be);
      position: relative;
      .imageContainer {
        height: 50vh;
        position: absolute;
        top: 40vh;
        left: 0;
        right: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
