@import "../../style/color.scss";

.MuiAppBar-root {
  background-color: $secondary-color !important;
}

.MuiDrawer-root {
  .MuiList-root {
    color: $primary-color !important;

    .MuiListItemIcon-root {
      color: $primary-color !important;
    }

    a {
      color: $primary-color;
      text-decoration: none; 
    }
  }
}