@import "../../style/color.scss";

.events {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  .events-container {
    margin-top: 10vh;
    display: flex;
    width: 100%;

    .left-side {
      flex: 3;
      background-color: #fff;

      .events-cards {
        flex: 4;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
        padding: 2rem 0 2rem 0;

        .event-card {
          display: flex;
          flex-direction: column;
          background: #fff;
          border: 1px solid #e0e0e0;
          box-shadow: 0 4px 6px rgba(129, 106, 106, 0.1);
          margin-bottom: 16px;
          padding: 16px;
          border-radius: 10px;
          transition: transform 0.3s;
          max-height: 100vh;

          &:hover {
            transform: translateY(-5px);
          }

          .event-image {
            max-height: 200px;
            width: 100%;
            object-fit: cover;
          }

          .event-details {
            flex: 1;
            display: flex;
            flex-direction: column;

            h3 {
              font-size: 1.2rem;
              margin-bottom: 0.5rem;
              color: $secondary-color;
            }

            p {
              font-size: 1rem;
              margin-bottom: 0.5rem;
            }

            span {
              font-size: 1.2rem;
              margin-bottom: 0.5rem;
            }

            hr {
              border: none;
              height: 2px;
              background: linear-gradient(
                to right,
                transparent,
                $secondary-color,
                transparent
              );
              margin: 10px 0;
            }
          }

          button {
            width: 100%;
            background: $secondary-color;
            color: #fff;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.2s;

            &:hover {
              background-color: $accent-color;
            }
          }
        }

        .event-image,
        .event-details {
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: 50vh;
      padding: 10px 20px;
      background-color: $primary-color;
      color: #fff;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    button:hover {
      background-color: $secondary-color;
    }
  }
  @media (max-width: 768px) {
    .events-container {
      flex-direction: column;
      align-items: center;

      .left-side {
        width: 100%;
      }

      .events-cards {
        padding: 1rem;
        margin: 1rem;
      }

      .event-card {
        padding: 1rem;

        .event-image,
        .event-details {
          flex-direction: column;
          align-items: center;
        }

        button {
          width: 100%;
        }
      }
    }

    .more-button {
      button {
        width: 100%;
      }
    }
  }
}
