@import "../../../style/color.scss";

.company-panel-user-profile {
  padding: 20px;

  .chip-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;
  }

  .chip {
    background-color: $primary-color;
    color: white;
    padding: 6px 12px;
    border-radius: 16px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    margin-bottom: 16px;
  }

  strong {
    font-weight: bold;
  }
}
