.home {
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.hero {
  margin-top: 10px;
}

.services {
  margin-top: 10px;
}

.about {
  margin-top: 15vh;
}
