@import "../../../style/color.scss";

.settings-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 20px;
  transition: transform 0.3s;
  max-height: 100vh;
  position: relative;
  hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 30px;
  }
  
  h1 {
    font-size: 24px;
    font-weight: 600;
    color: $secondary-color;
    margin-bottom: 20px;
  }

  .save-button {
    background: $secondary-color;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: $accent-color;
      color: $secondary-color;
    }
  }
  .delete-button {
    background: red;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: #b63535;
    }
  }
}
