@import "../../style/color.scss";

.navbar {
  background-color: #ffffff;
  color: $primary-color;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .menu-icon {
    display: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;

      .menu-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
      }
    }
  }

  .logo {
    img {
      max-width: 160px;
      height: auto;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;

    a {
      position: relative;
      color: $primary-color;
      margin: 0 15px;
      text-decoration: none;

      &:before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $accent-color;
        transform: scaleX(0);
        transition: transform 0.3s;
      }

      &:hover:before {
        transform: scaleX(1);
      }

      @media (max-width: 768px) {
        display: none;
        margin: 2px 0;
        &:before {
          display: none;
        }
      }
    }


  }

  .user-actions {
    a {
      display: inline-block;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s;
      margin: 2px;
      &:hover {
        background-color: $primary-color;
        color: #fff;
      }

      @media (max-width: 768px) {
        display: none;
        margin: 10px 0;
        margin-right: 5px;
      }
    }

    a:first-child {
      background-color: $accent-color;
      color: $secondary-color;
    }

    a:last-child {
      background-color: $secondary-color;
      color: #fff;
    }

    @media (max-width: 768px) {
      margin-top: 15px;
    }
  }

  .mobile-menu {
    display: none;
    @media (max-width: 768px) {
      display: block;
      text-align: center;

      a {
        display: block;
        padding: 10px 0;
        text-decoration: none;
        color: $primary-color;
        transition: color 0.3s;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}
