@import "../../style/color.scss";

.joblist {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  .joblist-container {
    margin-top: 10vh;
    display: flex;
    width: 100%;

    .sidebar {
      width: 20%;
      flex: 1.5;
      margin-top: 2rem;
      background: #fff;
      border-radius: 10px;
      padding: 1rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border: 1px solid #e0e0e0;
      height: 100%;
      h1 {
        font-size: 1.5rem;
        padding: 0.5rem;
      }
      .filter-group {
        padding: 16px;
        border-radius: 10px;
        border: 1px solid #e0e0e0;
        margin-bottom: 16px;
        h3 {
          padding-bottom: 0.5rem;
        }
        .MuiAutocomplete-root {
          width: 100%;
        }
      }
    }

    .job-cards {
      flex: 4;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 1rem;
      padding: 2rem 0 2rem 2rem;

      .job-card {
        display: flex;
        flex-direction: column;
        background: #fff;
        border: 1px solid #e0e0e0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 16px;
        padding: 16px;
        border-radius: 10px;
        transition: transform 0.3s;
        max-height: 20vh; // Max yükseklik ayarı

        &:hover {
          transform: translateY(-5px);
        }

        h3 {
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 1rem;
          color: #777;
          margin-bottom: 0.5rem;
        }

        button {
          margin-top: auto; // Düğmeyi en aşağıya taşır
          background: $secondary-color;
          color: #fff;
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background 0.2s;

          &:hover {
            background-color: $accent-color;
          }
        }
      }
    }

  }
  .more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: 50vh;
      padding: 10px 20px;
      background-color: $primary-color; /* Özel renk seçimi yapabilirsiniz */
      color: #fff;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    button:hover {
      background-color: $secondary-color; /* Hover için arka plan rengi */
    }
  }   
}
