@import "../../style/color.scss";

.contact {
  height: calc(100vh - 30vh);
  overflow: hidden;
  background: linear-gradient(90deg, $primary-color, $secondary-color);
  position: relative;
  border-radius: 30px;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  .contact-form-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;

    .contact-form {
      flex: 1;
      max-width: 500px;
      margin-right: 2rem;

      form {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 0.5rem;
          font-weight: bold;
          color: white;
        }

        input,
        textarea {
          padding: 0.5rem;
          margin-bottom: rem;
          border: none;
          border-radius: 5px;
          background-color: rgba(255, 255, 255, 0.1);
          color: white;

          &:focus {
            outline: none;
            background-color: rgba(255, 255, 255, 0.2);
          }
        }

        button {
          font-size: large;
          font-weight: bold;
          margin-top: 20px;
          background: $accent-color;
          color: #fff;
          border: none;
          border-radius: 10px;
          padding: 10px 20px;
          cursor: pointer;
          transition: background 0.3s;
          &:hover {
            background: #fff;
            color: $primary-color;
          }
        }
      }
    }

    .contact-info {
      flex: 1;
      max-width: 400px;
      color: white;

      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 0.5rem;
      }
    }
  }
}
