@import "../../../style/color.scss";

.profile-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 20px;
  transition: transform 0.3s;
  max-height: 100vh;

  h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1rem;
    color: #777;
    margin-bottom: 0.5rem;
  }

  button {
    margin-top: auto;
    background: $secondary-color;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background-color: $accent-color;
    }
  }
}