@import "../../style/color.scss";

.hero {
  height: calc(100vh - 30vh);
  overflow: hidden;
  background: linear-gradient(90deg, $primary-color, $secondary-color);
  position: relative;
  border-radius: 30px;
  margin-top: 80px;

  .wrapper {
    height: 100%;
    margin: auto;
    padding-left: 5vh;
    
    .textContainer {
      width: 100%;
      height: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        font-size: 24px;
        color: $secondary-color;
        letter-spacing: 10px;
      }
      h1 {
        font-size: 72px;
        color: $accent-color;
      }
    }
    .searchContainer {
      position: absolute;
      display: flex;
      top: 30%;
      background: #fff;
      border-radius: 10px;
      padding: 8px;
    }
  }
  .imageContainer {
    height: 100%;
    position: absolute;
    top: 10vh;
    right: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .slidingTextContainer {
    position: absolute;
    font-size: 25vh;
    bottom: 5vh;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
    user-select: none;
  }
  
}
@media (max-width: 768px) {
  .hero {
    height: 80vh;
    overflow: hidden;
    background: linear-gradient(180deg, $primary-color, $secondary-color);
    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      .textContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        
        h2 {
          font-size: 30px;
          color: $secondary-color;
          letter-spacing: 5px;
        }
  
        h1 {
          font-size: 88px;
          color: $accent-color;
          margin-bottom: 11rem;
        }
  
        img {
          width: 50px;
        }
      }
    }
    position: relative;
    .imageContainer {
      height: 50vh;
      position: absolute;
      top: 40vh;
      left: 0;
      right: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .searchContainer {
      position: absolute;
      top: 50%;
      left: 50%; /* Ek olarak bu düzenlemeyi ekledik */
      transform: translate(-50%, -50%);
      background: #fff;
      border-radius: 10px;
      padding: 8px;
    }
  }

  @media (max-width: 768px) {
    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 0px;

      h2 {
        font-size: 30px;
        color: $secondary-color;
        letter-spacing: 10px;
        text-align: center;
      }

      h1 {
        font-size: 88px;
        text-align: center;
        color: $accent-color;
      }
    }
    .hero {
      height: 80vh;
      overflow: hidden;
      background: linear-gradient(180deg, $primary-color, $secondary-color);
      position: relative;
      .imageContainer {
        height: 50vh;
        position: absolute;
        top: 40vh;
        left: 0;
        right: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
