@import "../../style/color.scss";

.hero {
  height: calc(100vh - 30vh);
  overflow: hidden;
  background: linear-gradient(90deg, $primary-color, $secondary-color);
  position: relative;
  border-radius: 30px;
  margin-top: 80px;

  .wrapper {
    height: 100%;
    margin: auto;
    padding-left: 5vh;
    
    .textContainer {
      width: 100%;
      height: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      h2 {
        font-size: 24px;
        color: $secondary-color;
        letter-spacing: 10px;
      }
      
      h1 {
        font-size: 72px;
        color: $accent-color;
      }
    }
    
    .searchContainer {
      position: absolute;
      display: flex;
      top: 30%;
      background: #fff;
      border-radius: 10px;
      padding: 8px;
    }
  }
  
  .imageContainer {
    height: 100%;
    position: absolute;
    top: 10vh;
    right: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .slidingTextContainer {
    position: absolute;
    font-size: 25vh;
    bottom: 5vh;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
    user-select: none;
  }

  @media (max-width: 768px) {
    height: 80vh;
    background: linear-gradient(180deg, $primary-color, $secondary-color);

    .wrapper {
      max-width: 100%;
      padding-left: 0;

      .textContainer {
        height: auto;
        margin: 1rem;
        h2 {
          font-size: 30px;
          letter-spacing: 5px;
        }

        h1 {
          font-size: 48px; 
          margin-bottom: 2rem;
        }
      }
    }

    .imageContainer {
      height: 50vh;
      top: 40vh;
      left: 0;
      right: 0;
    }

    .searchContainer {
      margin-top: 2rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .slidingTextContainer {
      font-size: 15vh;
      width: 100%;
      bottom: 2vh; 
    }
  }
}
